---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";

import fs from "fs";
import path from "path";
import matter from "gray-matter";

// Directory containing the files
const dir = "src/content/docs/glossary";

// Read the directory and get an array of filenames
const filenames = fs.readdirSync(dir);

// Map over the filenames and read each file's content and metadata
const files = filenames.map((filename) => {
	const filePath = path.join(dir, filename);
	const fileContent = fs.readFileSync(filePath, "utf-8");
	const frontMatter = matter(fileContent).data;
	const title = path.basename(filename, path.extname(filename));
	return { title, frontMatter };
});

// Sort the files alphabetically by title
files.sort((a, b) => a.title.localeCompare(b.title));

// Group the files by the first letter of their title
const sections = files.reduce((acc: { [key: string]: any[] }, file) => {
	const firstLetter = file.title.charAt(0).toUpperCase();
	if (!acc[firstLetter]) {
		acc[firstLetter] = [];
	}
	acc[firstLetter].push(file);
	return acc;
}, {});

const headings = Object.entries(sections).map((section: [string, any]) => ({
	depth: 2,
	slug: section[0],
	text: section[0],
}));
---

<StarlightPage frontmatter={{ title: "Glossary" }} headings={headings}>
	{
		Object.entries(sections).map((section: [string, any]) => (
			<>
				<h2 id={section[0]}>{section[0]}</h2>
				<ul>
					{section[1].map((file: any) => (
						<li>
							<a href={"/qbittorrent-nox-static/glossary/" + file.title}>
								{file.frontMatter.title}
							</a>
						</li>
					))}
				</ul>
			</>
		))
	}
</StarlightPage>
