---
const { class: className, id, summary } = Astro.props;

import Radarr from "/src/charts/radarr.html?raw";
import Example from "/src/charts/example.html?raw";
---

<div class:list={["custom-details-container", className]} {...Astro.props}>
	<details class="custom-details">
		<summary class="custom-summary">{summary}</summary>
		<div class="custom-content" '>
			<div
				set:html={Radarr}
				data-mxgraph={JSON.stringify({ "auto-fit": "true" })}
			/>
		</div>
	</details>
</div>
