---
const posts = await Astro.glob("/src/content/docs/glossary/*.md");
---

<ul>
	{
		posts.map((post) => (
			<li>
				<a
					href={
						"glossary/" +
						post.file
							.substring(post.file.lastIndexOf("/") + 1)
							.replace(".md", "")
					}
				>
					{post.frontmatter.title}
				</a>
			</li>
		))
	}
</ul>
