.alert.flat.note {
    padding: 0.5em 0.5em 0.5em 0.5em;
    background-color: #62c5dd54;
}

.alert.flat.tip {
    background-color: #68dba554;
}

.alert.flat.warning {
    background-color: #e29d3554;
}

.alert.flat.attention {
    background-color: #e9707054;
}

.alert {
    padding: .5rem 0.5rem!important;
}


.pagination-item {
    margin-top: 0px;
}

.pagination-item.pagination-item--previous {
    background-color: #f7ebeb; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.pagination-item.pagination-item--next {
    background-color: #e3f1fa; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}