.alert.flat.note {
    padding: 0.5em 0.5em 0.5em 0.5em;
    background-color: #62c5dd54;
}

.alert.flat.tip {
    background-color: #68dba554;
}

.alert.flat.warning {
    background-color: #e29d3554;
}

.alert.flat.attention {
    background-color: #e9707054;
}

.alert {
    padding: .5rem 0.5rem!important;
}

body .pagination-item {
    width: 50%;
    margin-top: 0px;
    font-size: 100%;
}

.pagination-item-label>* {
    color: rgb(0, 0, 0);
}

body .pagination-item.pagination-item--previous {
    background-color: #fcf7f7;
    color: rgb(0, 0, 0);
    padding: 10px 20px 10px 20px;
   
}

body .pagination-item.pagination-item--next {
    background-color: #f6f9fc;
    color: rgb(255, 255, 255);
    padding: 10px 20px 10px 20px;
}

body .pagination-item-title {
    color: rgb(0, 0, 0);
    font-size: 100%;
}
